.app{
  content: "";
  opacity: 0.8;
  color:white;
  font-weight: bold;
  background: rgb(140, 131, 141) url("./ex1.jpg") no-repeat fixed top;
  background-blend-mode:hard-light;
  /* also change the blend mode to what suits you, from darken, to other 
  many options as you deem fit*/
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  height: 700px;
}